div.boardParametersForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 152px;
    padding: 4px;
    /*border-left: 1px solid black;*/
    border-right: 1px solid gray;
}

.boardParametersForm > * {
    width: 50%;
    box-sizing: border-box;
}

.boardParametersForm > .fullWidth,
.boardParametersForm > select.fullWidth {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}