.array {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;

    min-width: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border-top: 1px solid gray;
    margin: 0;
}

.array .item {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: none;
    border-right: none;
    position: relative;
}

.array .item>button {
    visibility: hidden;
}

.array .item:hover>div:nth-child(2) {
    visibility: visible;
}

.array .item>div:nth-child(2) {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
}

.array .item>div:nth-child(2):hover {
    z-index: 1;
}

.array .item>div:nth-child(2)>button {
    margin-left: -3px;
}

/*.array .item > div:nth-child(2) > button:nth-child(1) {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*}*/

/*.array .item > div:nth-child(2) > button:nth-child(2) {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 20px;*/
/*}*/

/*.array .item > div:nth-child(2) > button:nth-child(3) {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 40px;*/
/*}*/

.array .item .itemForm {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.paramsByTypeForm {
    display: flex;

    /*border: 1px solid deeppink;*/
    flex-direction: row;
    flex-wrap: wrap;
    width: 144px;
    box-sizing: border-box;
}

.paramsByTypeForm>* {
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
    min-width: 0;
    box-sizing: border-box;
}

.paramsByTypeItemForm {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.paramsByTypeItemForm>* {
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
    min-width: 0;
    box-sizing: border-box;
}

.cellConditionsForm {
    padding-bottom: 20px;
    flex: 0 0 152px;
    width: 152px;
    min-width: 152px;
    max-width: 152px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    background: lightgrey;
}

.cellConditionItemForm {
    position: relative;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 4px;
}

.cellConditionItemForm>div:nth-child(2) {
    visibility: hidden;

}

.cellConditionItemForm:hover>div:nth-child(2) {
    visibility: visible;

}

.cellConditionItemForm>div:nth-child(2)>button {
    position: absolute;
    right: 0;
    top: 0;

}


.typeSelect {

    width: 122px;
}

.cellParams {
    display: flex;
    margin-top: 20px;
    align-items: flex-start;
}

.hiddenInput {
    opacity: 0;
    position: absolute;
    pointer-events: none;

}

.cellParamsForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 152px;

    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 4px;
}

.cellParamsForm>* {
    width: 100%;
    box-sizing: border-box;
}

.connectionParamsForm {
    padding: 4px;
    box-sizing: border-box;
}

.preview {
    background: white;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}

.preview.selected {
    border: 1px dashed black;
}