
.form1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.form1 > * {
    width: 100%;
    box-sizing: border-box;
}

.form1field:hover, .form1field.divDragHandlerIsActive {
    color: navajowhite;
}

.form1field {
    white-space: nowrap;
}

.cursorPointer {
    cursor: pointer;
}

.fileSVG label {
    width: 100%;
}
.fileSVG label button {
    width: 100%;
}
.fileSVG label input {
    display: none;
}